@use "base";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;;
    background: #a7c1c8;
    background-image: linear-gradient(to bottom right,#dbe6e9, #a7c1c8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #343434;
}

.container {
    background: #fff;
    border-radius: 5px;
    max-width: 60rem;
    margin: 2rem auto;
}